<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar Usuarios</title>
    <!-- Enlace a Bulma CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ec8ea11f65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        /* Estilo personalizado para la sombra de la tabla */
        .table-shadow {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ajusta los valores según prefieras */
            border: #6949f6;
        }

        .has-background-danger td {
            color: white; /* Hace que el texto sea blanco */
        }

        
        .has-background-danger {
            border: 2px solid #000000; /* Cambia el color del borde según tu preferencia */
        }

        .table-shadow td,
        .table-shadow th {
            border-right: 2px solid #000000; /* Color del borde vertical */
            width: 1000px;
        }


        /* Estilo personalizado para cambiar el color de los botones */
        .custom-button {
            background-color: #F649D0;
            color: white;
            transition: background-color 0.3s ease; /* Transición suave del color de fondo */
        }

        /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
        .custom-button:hover {
            background-color: #F8C9EE; /* Cambia el color a un tono más claro */
            color: white;
        }

        .notification-container {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1000; 
        }

        .control {
            border: 2px solid #000000; /* Color del contorno (rojo en este caso) */
            border-radius: 5px; /* Ajusta el radio de borde según sea necesario */
        }

        
    </style>
</head>
<body>
  <div class="main-content">
    <div class="columns">
      <section class="section">
          <div class="container">
              <div class="notification-container">
                  <!--<% if (message) { %>
                      <div class="notification is-success">
                          <%= message %>
                          <button class="delete" aria-label="delete"></button>
                      </div>
                  <% } %>-->
              </div>
              <h1 class="title">Consultar Historial</h1>
              <table class="table is-bordered is-striped is-fullwidth table-shadow">
                  <thead>
                      <tr>
                          <th class="table-shadow">Nombre del usuario</th>
                          <th class="table-shadow">Acción </th> <!-- Aquí especificamos el ancho -->
                          <th class="table-shadow">Fecha</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!--<% usuario.forEach(user => { %>
                          <% const rowClass = user.Habilitado === 0 ? 'has-background-danger' : ''; %>-->
                          <tr class="<%= rowClass %>">
                              <td class="table-shadow">nombre_usuario</td>
                              <td class="table-shadow">Ha eliminado al Usuario Juan Perez Urtiaga con el ID 34 y con rol seller.</td> <!-- Aquí especificamos el ancho -->
                              <td class="table-shadow">fecha</td>
                          </tr>
                     <!-- <% }); %> -->
                  </tbody>
              </table>
          </div>
      </section>
  </div>
  </div>
    
</body>
</html>
