<section class="hero is-link">
    
    <div class="hero-body has-text-centered"> 
        <p class="title">Create your graph.</p>
        <p class="subtitle">1.- Select graphic type.</p>
        <p class="subtitle">2.- Select studio case.</p>
        <p class="subtitle">3.- Click on create graphic.</p>
    </div>
</section>
