
<section class="hero is-link">
    
    <div class="hero-body has-text-centered"> 
        <p class="title">Create your graph.</p>
        <p class="subtitle">- Select graphic type.</p>
        <p class="subtitle">- Select studio case.</p>

        <p class="subtitle">- Select in order, the date range to search.</p>

