
<div class="columns">
    <!--Sidebar-->
    <div class="column is-1 is-hidden-mobile is-hidden-touch sidebar">
      <aside class="menu">
      <!--Contenido del sidebar-->
        <ul class="menu-list">
          <li class="mt-2">
            <a href="/homepage" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-house fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Inicio</span>
                </span>
              </span>
            </a>
          </li>
          <% for (let permiso of roles){ %>
            <% if (permiso.Accion == 'Consultar usuario') { %>
              <li class="mt-2">
                <a href="/usuarios" class="columns is-spaced is-centered text-icon">
                  <span class="column is-narrow">
                    <span class="icon-text">
                        <span class="icon">
                          <i class="fa-solid fa-users fa-xl colorFondo1"></i>
                        </span>
                        <span class="hover-text is-family-sans-serif has-text-right is-size-6">Usuarios</span>
                    </span>
                  </span>
                </a>
              </li>
            <% } %>
          <% } %> 
          <li class="mt-2">
            <a href="/importar" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-file fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Leads</span>
                </span>
              </span>
            </a>
          </li>
          <li class="mt-2">
            <a href="/grafica" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-chart-pie fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Gráficos</span>
                </span>
              </span>
            </a>
          </li>
          <% for (let permiso of roles){ %>
            <% if (permiso.Accion == 'Consultar historial') { %>
              <li class="mt-2">
                <a href="/historial" class="columns is-spaced is-centered text-icon">
                  <span class="column is-narrow">
                    <span class="icon-text">
                      <span class="icon">
                        <i class="fa-solid fa-clock-rotate-left fa-xl colorFondo1"></i>
                      </span>
                      <span class="hover-text is-family-sans-serif has-text-right is-size-6">Historial</span>
                    </span>
                  </span>
                </a>
              </li>
            <% } %>
          <% } %> 
          <li class="mt-2">
            <a href="#" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-circle-info fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Ayuda</span>
                </span>
              </span>
            </a>
          </li>
        </ul>
        <ul class="menu-list is-flex-grow-1 mt-auto">
          <li class="mt-2">
            <a href="#" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-gear fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Preferencias</span>
                </span>
              </span>
            </a>
          </li>
          <li class="mt-2">
            <a href="#" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-circle-user fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Perfil</span>
                </span>
              </span>
            </a>
          </li>
          <li class="mt-2">
            <a href="/logout" class="columns is-spaced is-centered text-icon">
              <span class="column is-narrow">
                <span class="icon-text">
                  <span class="icon">
                    <i class="fa-solid fa-door-open fa-xl colorFondo1"></i>
                  </span>
                  <span class="hover-text is-family-sans-serif has-text-right is-size-6">Salir</span>
                </span>
              </span>
            </a>
          </li>
        </ul>
      </aside>
    </div>
    
