<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeadGraphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/ec8ea11f65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <div class="hero is-link is-fullwidth has-text-centered"> 
        <div class="hero-body"> 
            <div class="container">
                <p class="title">Mira tu gráfica.</p>
                <p class="subtitle">Puedes descargar las gráficas que hagas.</p>
            </div>
        </div>
    </div>
    <%- include('includes/naveside.ejs') %>
    <div class="">
        <div class="main-content">
            <section class="section">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-half centered-form ">
                            <div class="box mt-10">
                                <form action="/grafica" method="POST" onsubmit="return validarFormulario()">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <div class="field control has-text-centered">
                                        <label class="label" for="opciones">Selecciona el tipo de gráfica:</label>
                                        <div class="control has-text-centered">
                                            <div class="select is-rounded is-medium">
                                                <select id="opciones" name="opcion">
                                                    <option value="bar">Barras</option>
                                                    <option value="pie">Pastel</option>
                                                    <option value="doughnut">Dona</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="field">
                                        <label class="label control has-text-centered " for="caso">Selecciona el caso:</label>
                                        <div class="control has-text-centered">
                                            <div class="select mt-2">
                                                <select id="caso" name="caso">
                                                    <option value="leadsPorMes">Leads por mes.</option>
                                                    <option value="LastMessage">Último mensaje enviado</option>
                                                    <option value="PerCompany">Leads por Compañía</option>
                                                    <option value="Historial">Acciones de usuarios</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="field control has-text-centered" id="ultimoMensajeDiv" style="display: none;">
                                        <label class="label" for="LastMessageWord">Último mensaje a buscar:</label>
                                        <div class="">
                                            <input class="input" id="LastMessageWord" type="text" name="palabra">
                                        </div>
                                    </div>
        
                                    <div class="field">
                                        <div class="columns">
                                            <div class="column">
                                                <label class="label" for="startDate">Fecha de inicio:</label>
                                                <div class="control has-text-centered">
                                                    <input class="input" type="date" id="startDate" name="startDate">
                                                </div>
                                            </div>
                                            <div class="column">
                                                <label class="label" for="endDate">Fecha de fin:</label>
                                                <div class="control has-text-centered">
                                                    <input class="input" type="date" id="endDate" name="endDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="field">
                                        <div class="control mt-2"> 
                                            <button class="button is-link custom-button is-fullwidth " type="submit" value="Create">Crear</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    
    <div class="field ">
        <div class="control">
            <a href="/homepage" class="button is-danger cancel-button-container">Cancelar</a>
        </div>
    </div>

    <script>
        function validarFormulario() {
            const opcion = document.getElementById('opciones').value;
            const caso = document.getElementById('caso').value;
            const startDate = document.getElementById('startDate').value;
            const endDate = document.getElementById('endDate').value;

            if (!opcion || !caso || !startDate || !endDate) {
                Swal.fire({
                    icon: "error",
                    title: "Proceso incompleto",
                    text: "Rellene todos los campos, por favor :)",
                });
                return false;
            }
            return true;
        }

        document.getElementById('caso').addEventListener('change', function() {
            var opcionSeleccionada = this.value;
            var ultimoMensajeDiv = document.getElementById('ultimoMensajeDiv');
            if (opcionSeleccionada === 'LastMessage') {
                ultimoMensajeDiv.style.display = 'block';
            } else {
                ultimoMensajeDiv.style.display = 'none';
            }
        });
    </script>
</body>
</html>
