<form action="/grafica" method="POST">
    <label for="opciones">Select an option:</label>
    <select id="opciones" name="opcion">
        <option value="bar">Bar</option>
        <option value="pie">Pie</option>
    </select>
    <section>
        <label for="caso">Select your case:</label>
        <select id="caso" name="caso">
            <option value="leadsPorMes">Leads per month</option>
            <option value="leadsPorMesCategory">Leads per month and category</option>
        </select>
        <input type="submit" value="Crear">
    </section>
</form>
