<form action="/grafica" method="POST">
    <label for="opciones">Selecciona una opción:</label>
    <select id="opciones" name="opcion">
        <option value="bar">Barras</option>
        <option value="Pastel">Pastel</option>
        <option value="opcion3">Opción 3</option>
    </select>
    <label class="label" for="x">Eje X</label>
    <input name="x" id="x" type="text" class="input"><br>
    <label class="label" for="y">Eje y</label>
    <input name="y" id="y" type="text" class="input"><br><br>
    <input class="" type="submit" value="Crear">
    <button type="submit">Enviar</button>
</form>
