<form action="/grafica" method="POST">
    <label for="opciones">Select an option:</label>
    <select id="opciones" name="opcion">
        <option value="bar">Bar</option>
        <option value="pie">Pie</option>
    </select>
    <section>
        <label for="caso">Select your case:</label>
        <select id="caso" name="caso">
            <option value="leadsPorMes">Leads per month</option>
            <option value="leadsPorMesCategory">Leads per month and category</option>
            <option value="LastMessage">Last word count</option>
        </select>
        <% if (opcion === 'LastMessage') { %>
            <section>
                <label for="LastMessageWord">Last message word:</label>
                <input id="LastMessageWord"type="text" id="LastMessageWord" name="palabra">
            </section>


            
        <% } %>
        <input type="submit" value="Create">
    </section>
</form>
