<%- include('includes/instructions-graphic.ejs') %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeadGraphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<% if (opcion === 'LastMessage') { %>
    <p class="subtitle">- Escribe la palabra que quieras buscar.</p>
<% } %>


</div>
</section>

<div class="columns is-centered has-text-centered is-centered is-vcentered mt-4">
    <div class="column is-half">
        <div class="select is-rounded is-medium">
            <form class="box" action="/grafica" method="POST">
                <label for="opciones">Selecciona el tipo de gráfica:</label>
                <div class="columns is-centered has-text-centered is-centered is-vcentered mt-4">
                    <div >
                        <select class="" id="opciones" name="opcion">
                            <option value="bar">Barras</option>
                            <option value="pie">Pastel</option>
                        </select>
                    </div>
                </div>
                <div class="columns is-centered mt-4">
                    <div class="column is-half has-text-centered">
                        <label for="opciones">Selecciona el caso:</label>
                        <div class="select mt-4">
                            <select id="caso" name="caso">
                                <option value="leadsPorMes">Leads por mes.</option>
                                <option value="leadsPorMesCategory">Leads por mes y categoría</option>
                                <option value="LastMessage" <% if (opcion === 'LastMessage') { %> selected <% } %>>Último mensaje enviado</option>
                                <option value="PerCompany">Leads por Compañía</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <% if (opcion === 'LastMessage') { %>
                    <div class="mt-4"> 
                        <label for="LastMessageWord">Último mensaje a buscar:</label>
                        <input id="LastMessageWord" type="text" name="palabra">
                    </div>
                <% } %>
                <div class="columns is-centered has-text-centered is-centered is-vcentered mt-4">
                    <div class="mt-4">
                        <label for="startDate">Fecha de inicio:</label>
                        <input type="date" id="startDate" name="startDate">
                    </div>
    
                    <div class="mt-4">
                        <label for="endDate">Fecha de fin:</label>
                        <input type="date" id="endDate" name="endDate">
                    </div>
                </div>
                <div class="mt-4"> 
                    <button class="button is-link custom-button" type="submit" value="Create">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="columns is-centered has-text-centered is-centered is-vcentered">
    <div class="column is-half">
        <div class="is-pulled-right mr-4"> 
            <div class="dropdown is-hoverable">
                <div class="dropdown-trigger">
                    <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                        <span>FAQS</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                    <div class="dropdown-content">
                        <div class="dropdown-item">
                            <p class="subtitle">- Select graphic type.</p>
                            <p class="subtitle">- Select studio case.</p>
                            <p class="subtitle">- Select in order, the date range to search.</p>
                            <p class="subtitle">- Da click para crear grafica.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



