<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Formulario de ID y Nombre</title>
</head>
<body>

<h2>CU Eliminar Usuarios</h2>

<form action="/users/delete" method="POST">
  <div>
    <label class="label" for="nombre">Nombre</label>
    <input name="nombre" id="nombre" type="text" ><br>.
 </div>
  <div>
    <label for="id">ID:</label><br>
    <input type="text" id="id" name="id" type="text">
  </div>
  <br>
  <input type="submit" value="Enviar">
</form>

</body>
</html>