

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homepage</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script src="https://kit.fontawesome.com/ec8ea11f65.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/estilos.css">
        
    </head>
    <body>
      <%- include('includes/naveside.ejs', {roles: roles}) %>
        <!--Contenido principal-->
        <div class="main-content">
            <div class="column">
              <section class="section">
                  <div class="container">
                      <h1 class="title">
                          Bienvenido <%= username %>
                      </h1>
                      <p class="subtitle">
                          Esta es la <strong>homepage</strong> de LeadGraphs!
                          <a href="/logout">Salir</a>
                      </p>
                  </div>
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <span class="icon-text">
                          <span class="icon">
                            <div class="columns is-centered is-vcentered mt-4">
                              <div class="column">
                                <i class="fa-solid fa-house fa-3x colorFondo1-home"></i>
                              </div>
                            </div>
                          </span>
                        </span>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Homepage</strong> <small>Inicio</small>
                            <br>
                            El inicio contiene información general de LeadGraphs, en caso de tener alguna duda o dificultad, aquí encontraras la respuesta
                          </p>
                        </div>
                      </div>
                    </article>
                </div>
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <span class="icon-text">
                          <span class="icon">
                            <div class="columns is-centered is-vcentered mt-4">
                              <div class="column">
                                <i class="fa-regular fa-circle-user fa-3x has-text-black colorFondo1-home"></i>
                              </div>
                            </div>
                            
                          </span>
                        </span>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Users</strong> <small>Usuarios</small>
                            <br>
                            En el apartado de usuario encontraras la información acerca de los usuarios 
                          </p>
                        </div>
                      </div>
                    </article>
                </div>
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <span class="icon-text">
                          <span class="icon">
                            <div class="columns is-centered is-vcentered mt-4">
                              <div class="column">
                                <i class="fa-regular fa-file fa-3x has-text-black colorFondo1-home"></i>
                              </div>
                            </div>
                          </span>
                        </span>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Leads</strong> <small>Espacio de trabajo</small>
                            <br>
                            En esta sección puedes ver los leads que tienes asignados y puedes hacer sus respectivas operaciones.
                          </p>
                        </div>
                      </div>
                    </article>
                </div>
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <span class="icon-text">
                          <span class="icon">
                            <div class="columns is-centered is-vcentered mt-6">
                              <div class="column">
                                <i class="fa-solid fa-chart-pie fa-3x colorFondo1-home"></i>
                              </div>
                            </div>
                          </span>
                        </span>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Graphics</strong> <small>Gráficos</small>
                            <br>
                            LeadGraphs no sólo se enfoca en el CRUD (Create, Read, Update, Delete), sino que también en representar la información en gráficos agradables que ayuden a tomar desiciones.
                          </p>
                        </div>
                      </div>
                    </article>
                </div>
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <span class="icon-text">
                        <span class="icon">
                          <div class="columns is-centered is-vcentered mt-4">
                            <div class="column">
                              <i class="fa-solid fa-clock-rotate-left fa-3x colorFondo1-home"></i>
                            </div>
                          </div>
                        </span>
                      </span>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Historial</strong> <small>Historial de acciones</small>
                          <br>
                          En este apartado podrás ver las acciones que han hecho los usuarios a lo largo del tiempo.
                        </p>
                      </div>
                    </div>
                  </article>
              </div>
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <span class="icon-text">
                          <span class="icon">
                            <div class="columns is-centered is-vcentered mt-4">
                              <div class="column">
                                <i class="fa-solid fa-circle-info fa-3x colorFondo1-home"></i>
                              </div>
                            </div>
                          </span>
                        </span>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Help</strong> <small>Preguntas frecuentes</small>
                            <br>
                            A veces el inicio no podrá resolver todas tus dudas, en este apartado encontrarás respuestas a problemas más críticos.
                          </p>
                        </div>
                      </div>
                    </article>
                </div>
                <div class="box">
                    <article class="media">
                      <div class="media-left">
                        <span class="icon-text">
                          <span class="icon">
                            <div class="columns is-centered is-vcentered mt-4">
                              <div class="column">
                                <i class="fa-solid fa-gear fa-3x colorFondo1-home"></i>
                              </div>
                            </div>
                          </span>
                        </span>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <strong>Preferences</strong> <small>Ajustes</small>
                            <br>
                            Cada usuario tiene un modo de trabajar, los ajustes proporcionan la opción de personalizar el espacio de trabajo.
                          </p>
                        </div>
                      </div>
                    </article>
                </div>
                <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <span class="icon-text">
                        <span class="icon">
                          <div class="columns is-centered is-vcentered mt-4">
                            <div class="column">
                              <i class="fa-solid fa-circle-user fa-3x colorFondo1-home"></i>
                            </div>
                          </div>
                        </span>
                      </span>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Perfil</strong> <small>Perfil del usuario</small><br>
                          A veces el inicio no podrá resolver todas tus dudas, en este apartado encontrarás respuestas a problemas más críticos.
                        </p>
                      </div>
                    </div>
                  </article>
              </div>
              <div class="box">
                  <article class="media">
                    <div class="media-left">
                      <span class="icon-text">
                        <span class="icon">
                          <div class="columns is-centered is-vcentered mt-4">
                            <div class="column">
                              <i class="fa-solid fa-door-open fa-3x colorFondo1-home"></i>
                            </div>
                          </div>
                        </span>
                      </span>
                    </div>
                    <div class="media-content">
                      <div class="content">
                        <p>
                          <strong>Salir</strong> <small>Cerrar sesión</small>
                          <br>
                          Cada usuario tiene la responsabilidad de  cerrar su sesión en caso cada que sale de la pagína web.
                        </p>
                      </div>
                    </div>
                  </article>
              </div>
                
              </section>
            </div>
          </div>
        </div>
      </div>
        
    </body>
</html>