/* Esta hoja de estilos tiene colores o cosas que no podríamos poner con bulma */

.colorFondoClaro{
    background-color: #a5a7f4; 
}

.colorBotonTexto{
    background-color: #3f3dc2; 
}

.colorAlertas{
    background-color: #f81937; 
}

.colorBoton{
    background-color: #f649d0;
}

.colorFondo{
    background-color: #e1e7fd;
}

.colorHeader{
    background-color: #6669ef;
}

.colorFooter{
    background-color: #3f40c2;
}

.full-height-container { /*Esto hara que un contenedor abarque toda la pagina*/
    min-height: 100vh;
}

.has-image-centered {
    margin-left: auto;
    margin-right: auto;
}

.sidebar:hover{
  transition: width 0.3s ease;
  width: 10%; 
}