body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Questrial', sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #6669EF;
}

.container {
  max-width: 550px;
  width: 85%;
  background-color: #E1E7FD;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(93, 1, 163, 0.1);
  margin-top: 5px;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
}

.image-container img {
  display: inline-block;
  width: 300px;
  height: 300px;
  max-width: 100%;
  height: auto;
}


.form-section {
  text-align: center;
  color: #A5A7F4;
  margin-top: 5px;
  margin-bottom: 20px;
}

.label {
  color: #A5A7F4;
  font-family: 'Questrial', sans-serif;
  margin-bottom: 10px;
}

.input {
  color: #3F3DC2;
  font-family: 'Questrial', sans-serif;
  margin-top: 10px;
}

.usuarioInput {
  color:  #f68fd7;
}

.button.is-primary {
  background-color: #F649D0;
  color: #fff;
  padding: 10px 15px;
  font-family: 'Questrial', sans-serif;
  border: none; /* Quita el borde si lo hubiera */
  border-radius: 5px; /* Redondeo de borde */
  cursor: pointer;
}

.button.is-primary:hover {
  background-color: #D236AB; 
}